#progress-bar {
  border-radius: 1em;
  height: 7em;
}
#container {
  margin: 3em 3em;
}
#countdown {
  width: 100%;
  font-family: "Poiret One", Arial;
  font-size: 1.5em;
  text-align: center;
  /*margin-top: 3em;*/
}
h1 {
  text-align: center;
  font-size: 4em;
}
#progress-bar {
  height: 7em;
  background: #42f492;
  animation: myfirst 3.25s;
  -moz-animation: myfirst 3.25s infinite; /* Firefox */
  -webkit-animation: myfirst 3.25s infinite; /* Safari and Chrome */
}

@-moz-keyframes myfirst /* Firefox */ {
  0% {
    background: #0083d4;
  }
  50% {
    background: #005081;
  }
  100% {
    background: #0083d4;
  }
}

@-webkit-keyframes myfirst /* Safari and Chrome */ {
  0% {
    background: #0083d4;
  }
  50% {
    background: #005081;
  }
  100% {
    background: #0083d4;
  }
}
#percent {
  font-family: "Poiret One", Arial;
  font-size: 1.5em;
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 1em;
  color: white;
  animation: mysecond 3.25s;
  -moz-animation: mysecond 3.25s infinite; /* Firefox */
  -webkit-animation: mysecond 3.25s infinite; /* Safari and Chrome */
}
@-moz-keyframes mysecond /* Firefox */ {
  0% {
    color: black;
  }
  50% {
    color: white;
  }
  100% {
    color: black;
  }
}

@-webkit-keyframes mysecond /* Safari and Chrome */ {
  0% {
    color: black;
  }
  50% {
    color: white;
  }
  100% {
    color: black;
  }
}

.social-icon {
  display: inline-block;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  position: fixed;
}

* {
  font-family: Arial;
}

.umb-logo {
  height: auto;
  width: 10em;
  display: inline-block;
}
.title-text {
  display: inline-block;
  vertical-align: bottom;
}

.big-title {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 2em;
  }
  .umb-logo {
    height: auto;
    width: 5em;
  }
  #countdown {
    font-size: 1em;
  }
  #percent {
    font-size: 1em;
  }
}
