<html>
	<head>
		<title> Jake Bates</title>
		<meta charset="utf-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1">
	  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	    <link rel="stylesheet" href="/assets/style.css">
	  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	  	<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-97836276-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-97836276-1');
		</script>
	  	<script type = "text/javascript" language = "javascript">
         $(document).ready(function() {
         	if(window.location.pathname == '/index.html' || window.location.pathname == '/'){
	         	$(".block").fadeOut(0);
	            $(".first").fadeIn(1000, function(){$(".second").slideDown(750, function(){$(".third").fadeIn(750)})});
	            $(".first").hover(function(){
	         		$( ".shakeable" ).effect("shake", {direction: "up", times: 1, distance: 10});
	         	});
        	}
         });
         
      </script>
  	</head>
  	<body>
  	<div class="container">
  	<div class="header page-header">
 		<h1>Jake Bates</h1>
 		<hr/>
	</div>
		{{ content }}
	</div>
	<footer class="footer page-footer text-center block third bg-light">
	      <br>
	      <div class="social-icon-set">
	        <div class="social-icon">
	          <a href="https://www.linkedin.com/in/joshua-jake-bates/"><img src="/assets/images/svg/social-1_logo-linkedin.svg" ></a>
	        </div>
	        <div class="social-icon">
	          <a href="https://github.com/jpbates13"><img src="/assets/images/svg/social-1_logo-github.svg"></a>
	        </div>
	      </div>
	      <br>
	    <p>Copyright &copy <script type="text/javascript">document.write( new Date().getFullYear() );</script> <a href="/index.html">JakeBates.com</a></p>
    </footer>
  	</body>
</html>